:root {
    --bg-light: #ffffff;
    --text-light: #222;
    --card-light: #f3f3f3;

    --bg-dark: #0a0a0a;
    --text-dark: #eaeaea;
    --card-dark: #1a1a1a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    transition: 0.3s;
    background: var(--bg-light);
    color: var(--text-light);
}

body.dark {
    background: var(--bg-dark);
    color: var(--text-dark);
}

header {
    padding: 20px;
    background: #0059b3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.card {
    background: var(--card-light);
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}

body.dark .card {
    background: var(--card-dark);
}
